:root{
    --color_third: #fff;
    --color_secondary: papayawhip;
    --highlight_color: #7bed9f;
    --links_color: #fdcb6e;
    --padding-container: 100px 0
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arimo', sans-serif;
    background-color: var(--color_secondary);
    line-height: 2;
}

a{
    text-decoration: none;
    color: var(--color_secondary);
    transition: color 0.2 ease-in-out;
}

h2{
    font-size: 2.5rem;
    text-align: center;
}

::selection{
    background-color: var(--highlight_color);
}

::-moz-selection{
    background-color: var(--highlight_color);
}

/*
    MENU
*/

.menu{
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0 auto;
    width: 100%;
    align-items: center;
    /*transform: translateX(-50%);*/
    z-index: 999;
    transition: .2s;
    cursor: pointer;
}

.menu h2{
    margin: auto 0 auto 40px;
}


.menu ul{
    list-style: none;
    padding: 0;
    margin: auto 40px auto 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu ul li{
    animation-name: opening_logo;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
}

.menu a{
    font-size: 1.2rem;
    color: #000;
    transition: .2s;
}
.menu a:hover{
    letter-spacing: 4px;
}


header.down{
    background: var(--highlight_color);
    padding: 10px 0px;
    margin-top: 0px;
    color: var(--color_secondary);
    box-shadow: 0px 5px 5px 0px (180deg, 0 , 250px, 48px, 0.3);
}
header .down a {
    color: var(--color_secondary);
}


.menu_mobile{
    display: none;
    position: fixed;
    text-align: center;
    justify-content: space-between;
    margin: 30px auto 0 auto;
    width: 100%;
    align-items: center;
    /*transform: translateX(-50%);*/
    z-index: 999;
    transition: .2s;
    cursor: pointer;
}

.menu_mobile a:hover svg{
    fill: var(--highlight_color);
    font-size: 1000px;
}

.menu_mobile .header{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.menu_mobile ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    transition: 0.7s;
    animation-name: opening_logo;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

.menu_mobile ul li {
    text-align: center;
}

.menu_mobile a{
    display: block;
    padding: 20px 0;
    color: #000;
}

.menu_mobile_closed{
    display: none;
}

#menu_mobile_items{
    background-color: var(--highlight_color);
    opacity: 100;
}

.down_mobile{
    background: var(--highlight_color);
    padding: 10px 0px;
    margin-top: 0px;
    top: 0;
    transition: 0.7s ease-in-out;
    color: var(--color_secondary);
    box-shadow: 0px 5px 5px 0px (180deg, 0 , 250px, 48px, 0.3);
}
.down_mobile #buttonOpenCloseMenu{
    fill: papayawhip;
}


/*
    MAIN HEADER
*/

.main_header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: var(--color_secondary);
}

.main_header h2{
    color: #000;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    width: 75%;
}

.main_header p {
    text-align: center;
    color: #000;
    font-weight: 800;
    width: 50%;
    letter-spacing: 1px;
} 

.main_header a {
    background: var(--highlight_color);
    color: var(--color_secondary);
    padding: 15px;
    border-radius: 20rem;
    margin-top: 40px;
    width: 10%;
    box-shadow: 0px 5px 15px 0px rgba(1, 0, 8, 0.3);
    transition: .8s;
    font-size: 18px;
}

.main_header a:hover{
    letter-spacing: 3.5px;
    font-size: 18.5px;
}

/*
    ABOUT
*/

.about{
    text-align: center;
    padding-top: 0;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
    max-width: 1200px;
    align-items: center;
}

.about_image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
}

about img{
    background-position: px;
}

.about h2{
    background-color: var(--highlight_color);
    color: var(--color_secondary);
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    width: 30%;
    margin-left: 415px;
}

.about p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 100px;
    margin-bottom: 150px;
    width: 80%;
    text-align: center;
}

/*
    WORK
*/

.item {
    width: 100%;
}

.work{
    padding-top: 150px;
    transform-origin: 0 0;
    transform: skewY(-10deg);
}

#work h2{
    font-size: 3.5rem;
    padding-top: 0px;
    padding-bottom: 120px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    cursor: pointer;
}

.grid .item{
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 300px;
}

.grid .item img{
    width: 101%;
    margin-top: -60px;
    transform: skewY(10deg) scale(1.5, 1.5);
    transition: all 0.075s;
}

.grid .item:hover img{
    transform: skewY(10deg) scale(1.7, 1.7);
}

.grid .item .bg_hover{
    background-color: rgba(248, 255, 149, 0.2);
    width: 100%;
    height: 150%;
    display: grid;
    position: absolute;
    z-index: 2;
    top: -25%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: skewY(10deg) scale(1,1);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid .item:hover .bg_hover{
    overflow: hidden;
    opacity: 1;
}

.grid .item:hover .bg_hover .info{
    animation-name: bounce;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

.grid .item .bg_hover .info_title{
    color: var(--color_secondary);
}
.grid .item .bg_hover .info_customer{
    color: var(--highlight_color);
}

/*
    COMMENTS
*/

.comments{
    background-color: var(--color_secondary);
    margin-top: 120px;
    margin-bottom: 200px;
}

.comments_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.comments_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.comments_body--show {
    opacity: 1;
    position: unset;
    transition: opacity 1.5 ease-in-out;
}

.comments_img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.comments_texts{
    max-width: 700px;
}

.comments_work {
    background-color: var(--highlight_color);
    color: var(--color_secondary);
    display: inline-block;
    padding: 5px;
}

.comments_arrow{
    width: 50%;
    cursor: pointer;
}

.comments_description{
    width: 70%;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 60px;
}

/*
    CONTACTO
*/

.contact{
    margin: 0;
    padding: 0;
    background-color: var(--highlight_color);
    font-size: 16px;
    color: #fff;
}

.contact h1, .contact p{
    margin-left: 30px;
    margin-top: 10px;

}

.contact_box{
    background: var(--color_secondary);
    display: flex;
}

.contact_left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact_right{
    flex-basis: 40%;
    padding: 40px;
    background: var(--highlight_color);
    color: var(--color_secondary);
}

.contact h1 {
    margin-bottom: 10px;
    font-size: 42px;
    font-weight: 900;
}

.contact p{
    margin-bottom: 40px;
    font-size: 18px;
}

.input_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input_row .input_group{
    flex-basis: 45%;
}



input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    background-color: var(--color_secondary);
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    background: var(--color_secondary);
}

label{
    margin-bottom: 6px;
    display: block;
    color: var(--highlight_color);
}

button{
    background-color: var(--highlight_color);
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-left: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.contact_left h3{
    color: var(--highlight_color);
    font-weight: 600;
    margin-bottom: 30px;
}

/*
    FOOTER
*/

footer{
    background-color: var(--highlight_color);
    color: var(--color_secondary);
    padding: 30px;
}

.footer_social{
    --padding-container: 30px 0;
    text-align: center;
    color: var(--color_secondary);
}

.footer_img{
    width: 30px;
}

.footer_img1{
    width: 20px;
    margin: auto 30px;
}

footer img{
    fill: #000;
}

@media(max-width: 800px){
    .menu{
        display: none;
    }
    .menu_mobile{
        display: block;
    }

    .down_mobile{
        margin: 0px;
    }

    .main_header h2{
        line-height: 55px;
        margin-bottom: 20px;
    }

    .main_header a{
        font-size: 15px;
    }
    .main_header a:hover{
        font-size: 15px;
        letter-spacing: 0px;
    }

    .about h2 {
        margin-left: 160px;
        margin-top: 20px;
        width: 50%;
        margin-bottom: 40px;
    }
    .about p{
        width: 50%;
        margin-left: 160px;
        align-items: center;
    }

    .work {
        grid-template-columns: 1fr ;
    }
    #work h2{
        padding-bottom: 60px;
    }
    
}
@keyframes opening_logo{
    0%{
        transform : scale(0);
    }
    100%{
        transform : scale(1);
    }
}

@keyframes bounce {
    0%{
        transform: translateY(500px);
    }
    80%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}



